.navbar {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  height: 56px;
  background-color: white;
  align-items: stretch;
}
.navbar > a {
  flex-grow: 1;
  text-align: center;
  padding-top: 20px;
  stroke: var(--color-black);
  fill: white;
}

.active {
  border-bottom: 3px solid var(--color-blue);
}

.active svg {
  fill: var(--color-blue);
  stroke: var(--color-blue);
}
