.signin__form {
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
}

.signin__button {
  height: 50px;
}

.signing__signup {
  width: 150px;
}

.signin__error {
  color: tomato;
}
